<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cd_cornerRadius</key>
	<integer>0</integer>
	<key>cd_customIndicator</key>
	<true/>
	<key>cd_darkMode</key>
	<integer>1</integer>
	<key>cd_darkenMouseOver</key>
	<false/>
	<key>cd_dockBG</key>
	<true/>
	<key>cd_dockBGA</key>
	<integer>30</integer>
	<key>cd_dockBGB</key>
	<integer>190</integer>
	<key>cd_dockBGG</key>
	<integer>190</integer>
	<key>cd_dockBGR</key>
	<integer>190</integer>
	<key>cd_fullWidth</key>
	<false/>
	<key>cd_hideLabels</key>
	<false/>
	<key>cd_iconReflection</key>
	<false/>
	<key>cd_iconShadow</key>
	<true/>
	<key>cd_iconShadowBGA</key>
	<integer>3</integer>
	<key>cd_iconShadowBGB</key>
	<integer>0</integer>
	<key>cd_iconShadowBGG</key>
	<integer>0</integer>
	<key>cd_iconShadowBGR</key>
	<integer>0</integer>
	<key>cd_iconShadowBGS</key>
	<integer>3</integer>
	<key>cd_labelBG</key>
	<false/>
	<key>cd_labelBGA</key>
	<integer>0</integer>
	<key>cd_labelBGB</key>
	<integer>0</integer>
	<key>cd_labelBGG</key>
	<integer>0</integer>
	<key>cd_labelBGR</key>
	<integer>0</integer>
	<key>cd_pictureBG</key>
	<false/>
	<key>cd_pictureTile</key>
	<false/>
	<key>cd_showFrost</key>
	<false/>
	<key>cd_showGlass</key>
	<false/>
	<key>cd_showSeparator</key>
	<true/>
</dict>
</plist>
