<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cd_borderBG</key>
	<false/>
	<key>cd_borderBGA</key>
	<real>60</real>
	<key>cd_borderBGB</key>
	<real>255</real>
	<key>cd_borderBGG</key>
	<real>255</real>
	<key>cd_borderBGR</key>
	<real>255</real>
	<key>cd_borderSize</key>
	<integer>1</integer>
	<key>cd_colorIndicator</key>
	<false/>
	<key>cd_cornerRadius</key>
	<integer>0</integer>
	<key>cd_customIndicator</key>
	<true/>
	<key>cd_darkMode</key>
	<integer>2</integer>
	<key>cd_darkenMouseOver</key>
	<false/>
	<key>cd_dockBG</key>
	<true/>
	<key>cd_dockBGA</key>
	<real>30</real>
	<key>cd_dockBGB</key>
	<real>248</real>
	<key>cd_dockBGG</key>
	<real>248</real>
	<key>cd_dockBGR</key>
	<real>255</real>
	<key>cd_fullWidth</key>
	<false/>
	<key>cd_hideLabels</key>
	<false/>
	<key>cd_iconReflection</key>
	<false/>
	<key>cd_iconShadow</key>
	<false/>
	<key>cd_iconShadowBGA</key>
	<real>100</real>
	<key>cd_iconShadowBGB</key>
	<real>100</real>
	<key>cd_iconShadowBGG</key>
	<real>100</real>
	<key>cd_iconShadowBGR</key>
	<real>0.0</real>
	<key>cd_iconShadowBGS</key>
	<integer>100</integer>
	<key>cd_indicatorBGA</key>
	<real>0.0</real>
	<key>cd_indicatorBGB</key>
	<real>0.0</real>
	<key>cd_indicatorBGG</key>
	<real>0.0</real>
	<key>cd_indicatorBGR</key>
	<real>0.0</real>
	<key>cd_indicatorHeight</key>
	<integer>0</integer>
	<key>cd_indicatorWidth</key>
	<integer>0</integer>
	<key>cd_is3D</key>
	<false/>
	<key>cd_labelBG</key>
	<true/>
	<key>cd_labelBGA</key>
	<real>50</real>
	<key>cd_labelBGB</key>
	<real>240</real>
	<key>cd_labelBGG</key>
	<real>210</real>
	<key>cd_labelBGR</key>
	<real>115</real>
	<key>cd_pictureBG</key>
	<false/>
	<key>cd_pictureTile</key>
	<false/>
	<key>cd_showFrost</key>
	<false/>
	<key>cd_showGlass</key>
	<false/>
	<key>cd_showSeparator</key>
	<true/>
	<key>cd_sizeIndicator</key>
	<false/>
</dict>
</plist>
