<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cd_borderBG</key>
	<true/>
	<key>cd_borderBGA</key>
	<real>50</real>
	<key>cd_borderBGB</key>
	<real>235</real>
	<key>cd_borderBGG</key>
	<real>234.1319580078125</real>
	<key>cd_borderBGR</key>
	<real>229.26097106933594</real>
	<key>cd_borderSize</key>
	<integer>2</integer>
	<key>cd_colorIndicator</key>
	<false/>
	<key>cd_cornerRadius</key>
	<integer>4</integer>
	<key>cd_customIndicator</key>
	<false/>
	<key>cd_darkMode</key>
	<integer>2</integer>
	<key>cd_darkenMouseOver</key>
	<false/>
	<key>cd_dockBG</key>
	<true/>
	<key>cd_dockBGA</key>
	<real>60</real>
	<key>cd_dockBGB</key>
	<real>25</real>
	<key>cd_dockBGG</key>
	<real>25</real>
	<key>cd_dockBGR</key>
	<real>25</real>
	<key>cd_fullWidth</key>
	<false/>
	<key>cd_hideLabels</key>
	<false/>
	<key>cd_iconReflection</key>
	<false/>
	<key>cd_iconShadow</key>
	<false/>
	<key>cd_iconShadowBGA</key>
	<real>0.0</real>
	<key>cd_iconShadowBGB</key>
	<real>0.0</real>
	<key>cd_iconShadowBGG</key>
	<real>0.0</real>
	<key>cd_iconShadowBGR</key>
	<real>0.0</real>
	<key>cd_iconShadowBGS</key>
	<integer>10</integer>
	<key>cd_indicatorBGA</key>
	<real>0.0</real>
	<key>cd_indicatorBGB</key>
	<real>0.0</real>
	<key>cd_indicatorBGG</key>
	<real>0.0</real>
	<key>cd_indicatorBGR</key>
	<real>0.0</real>
	<key>cd_indicatorHeight</key>
	<integer>0</integer>
	<key>cd_indicatorWidth</key>
	<integer>0</integer>
	<key>cd_is3D</key>
	<false/>
	<key>cd_labelBG</key>
	<false/>
	<key>cd_labelBGA</key>
	<real>0.0</real>
	<key>cd_labelBGB</key>
	<real>0.0</real>
	<key>cd_labelBGG</key>
	<real>0.0</real>
	<key>cd_labelBGR</key>
	<real>0.0</real>
	<key>cd_pictureBG</key>
	<false/>
	<key>cd_pictureTile</key>
	<false/>
	<key>cd_separatorBG</key>
	<true/>
	<key>cd_separatorBGA</key>
	<real>50</real>
	<key>cd_separatorBGB</key>
	<real>250.65571594238281</real>
	<key>cd_separatorBGG</key>
	<real>255</real>
	<key>cd_separatorBGR</key>
	<real>250.34175109863281</real>
	<key>cd_showFrost</key>
	<false/>
	<key>cd_showGlass</key>
	<false/>
	<key>cd_showSeparator</key>
	<true/>
	<key>cd_sizeIndicator</key>
	<false/>
</dict>
</plist>
