<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cd_borderBG</key>
	<true/>
	<key>cd_borderBGA</key>
	<real>50</real>
	<key>cd_borderBGB</key>
	<real>27.181865692138672</real>
	<key>cd_borderBGG</key>
	<real>251.52787780761719</real>
	<key>cd_borderBGR</key>
	<real>32.829143524169922</real>
	<key>cd_borderSize</key>
	<integer>1</integer>
	<key>cd_colorIndicator</key>
	<true/>
	<key>cd_cornerRadius</key>
	<integer>0</integer>
	<key>cd_customIndicator</key>
	<false/>
	<key>cd_darkMode</key>
	<integer>0</integer>
	<key>cd_darkenMouseOver</key>
	<true/>
	<key>cd_dockBG</key>
	<true/>
	<key>cd_dockBGA</key>
	<real>75</real>
	<key>cd_dockBGB</key>
	<real>6.7589726448059082</real>
	<key>cd_dockBGG</key>
	<real>2.5372233390808105</real>
	<key>cd_dockBGR</key>
	<real>6.6576242446899414</real>
	<key>cd_fullWidth</key>
	<false/>
	<key>cd_hideLabels</key>
	<true/>
	<key>cd_iconReflection</key>
	<true/>
	<key>cd_iconShadow</key>
	<true/>
	<key>cd_iconShadowBGA</key>
	<real>34.601963043212891</real>
	<key>cd_iconShadowBGB</key>
	<real>27.181865692138672</real>
	<key>cd_iconShadowBGG</key>
	<real>251.52787780761719</real>
	<key>cd_iconShadowBGR</key>
	<real>32.829143524169922</real>
	<key>cd_iconShadowBGS</key>
	<integer>10</integer>
	<key>cd_indicatorBGA</key>
	<real>74.627899169921875</real>
	<key>cd_indicatorBGB</key>
	<real>27.181865692138672</real>
	<key>cd_indicatorBGG</key>
	<real>251.52787780761719</real>
	<key>cd_indicatorBGR</key>
	<real>32.829143524169922</real>
	<key>cd_indicatorHeight</key>
	<integer>0</integer>
	<key>cd_indicatorWidth</key>
	<integer>0</integer>
	<key>cd_is3D</key>
	<false/>
	<key>cd_labelBG</key>
	<true/>
	<key>cd_labelBGA</key>
	<real>49.4688720703125</real>
	<key>cd_labelBGB</key>
	<real>27.181865692138672</real>
	<key>cd_labelBGG</key>
	<real>251.52787780761719</real>
	<key>cd_labelBGR</key>
	<real>32.829143524169922</real>
	<key>cd_pictureBG</key>
	<false/>
	<key>cd_pictureTile</key>
	<false/>
	<key>cd_separatorBG</key>
	<true/>
	<key>cd_separatorBGA</key>
	<real>49.918170928955078</real>
	<key>cd_separatorBGB</key>
	<real>27.181865692138672</real>
	<key>cd_separatorBGG</key>
	<real>251.52787780761719</real>
	<key>cd_separatorBGR</key>
	<real>32.829143524169922</real>
	<key>cd_showFrost</key>
	<true/>
	<key>cd_showGlass</key>
	<false/>
	<key>cd_showSeparator</key>
	<true/>
	<key>cd_sizeIndicator</key>
	<false/>
</dict>
</plist>
